:root {
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --grayBlue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--gray);
}

.space {
    padding-top: 100px;
}

.main {
    margin: auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    line-height: 22px;
}

.hero-block {
    background-color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--grayBlue);
}

.hero-block h1 {
    color: var(--cyan);
    font-weight: 700;
}

.hero-block h3 {
    color: var(--yellow);
    font-weight: 700;
}

.hero-block p {
    color: hsl(218, 22%, 67%);
    font-size: 16px;
}

.container {
    display: flex;
}

.item1 {
    width: 50%;
    display: block;
    float: left;
    padding: 30px;
    background-color: var(--cyan);
    border-bottom-left-radius: 10px;
    color: white;
}

.one {
    color: hsla(0, 0%, 100%, 0.5);
}

.two {
    color: hsla(0, 0%, 100%, 0.8);
}

strong {
    font-size: 35px;
    padding-right: 10px;
    line-height: 1em;
    color: white;
}

button {
    background-color: var(--yellow);
    color: white;
    padding: 10px;
    width: 75%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item2 {
    width: 50%;
    float: left;
    display: block;
    padding: 30px;
    background-color: var(--cyan);
    border-bottom-right-radius: 10px;
    color: white;
}

.item2 ul {
    padding: 0;
    color: hsla(0, 0%, 100%, 0.5);
}

.item2 li {
    line-height: 1.5rem;
    list-style: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* responsive changes */

@media only screen and (max-width: 500px) {
    .main {
        width: 90%;
    }

    .container {
        display: inline;
    }

    .item1 {
        float: none;
        width: 100%;
        border-bottom-left-radius: 0px;
    }

    button {
        width: 100%;
    }

    .item2 {
        float: none;
        width: 100%;
        border-bottom-left-radius: 0px;
    }
}
